* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.80vmin;
}

html, body {
    height: 100%;
}

.header {
    height: 20%;
}

.main-content {
    height: 80%;
}
.login-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #000000;
    padding:50px 60px 70px;
    text-align: center;
}
.login-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #F95700FF;
    position: relative;
}
.login-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #F95700FF;
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color:#F95700FF
}
input {
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}

.button {
    flex-basis: 48%;
    background: #F95700FF;
    color:#000000;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.button1{
    flex-basis: 48%;
    background: #F95700FF;
    color:#000000;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    padding-top: 1.6rem;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.error-msg{
    margin: 1% auto;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 2vmin;
}

.success-msg {
    margin: 1% auto;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 2vmin;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}